{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="bg-light p-5 rounded">
    <h1>Welcome to my Website!</h1>
    </div>
</main>

<main class="container">
    <div class="bg-dark p-5 rounded">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p class="text-light bg-dark">We're all gonna die one day, but this time I dare to live</p>
                <footer class="blockquote-footer">Rory Kramer</footer>
            </blockquote>
        </div>
    </div>
</main>

{% endblock %}

